*{
    outline: 1px solid red;
}

body {
    height: 300vh;
    margin: 0;
    text-align: center;
    font-size: 1em;
    color: beige;
}

main {
    background: teal;
    margin: 0 auto;
    width: 75%;
    height: 100%;
    margin-top: 300px;
    position: relative;
}

div {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.static {
    background: red;
}

.relative {
    background: green;
    position: relative;
    top: 150px;
    left: 50px;
}

.absolute {
    background: blue;
    position: absolute;
    top: 150px;
    left: 100px;
}

.fixed {
    background: yellow;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50px;
    margin: 0 10px 0;
    color: red;
}

.sticky {
    background: pink;
    position: sticky;
    top: 50px;
    
}